@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  filter:invert(1);
  --bg-background: white;
  color-scheme:var(--bg-background);
  background-color: var(--bg-background);
  height: 100%;
  width: stretch;
  margin-right: 30px;
  margin-left: 30px
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  //overflow: hidden;
}

#__nuxt {
  --bg-blue-background: rgb(0,0,0);
  background-color: var(--bg-blue-background);
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

#section-content-title-contact {
  @apply cursor-pointer;
  height: 35px;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 20px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #607B96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7B9BBB;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}
.p-6 {
  padding: 1.5rem; /* 24px */
}
.rounded-lg {
  border-radius: 0.5rem; /* 8px */
}

/* Fonts */

@font-face {
    font-family: "Fira Code Light";
    src: url("./fonts/fira-code/FiraCode-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("./fonts/fira-code/FiraCode-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Retina";
  src: url("./fonts/fira-code/FiraCode-Retina.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Medium";
  src: url("./fonts/fira-code/FiraCode-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code SemiBold";
  src: url("./fonts/fira-code/FiraCode-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Bold";
  src: url("./fonts/fira-code/FiraCode-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Variable";
  src: url("./fonts/fira-code/FiraCode-Variable.ttf") format('truetype');
}